.heading {
  text-align: center;
  font-size: xx-large;
}

.wrapper {
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
}

.list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  /* width: calc((100% - 200px) / 8); */
  width: 170px;
  margin-bottom: 15px;
  /* padding-right: 15px; */
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.itemTitle {
  text-align: center;
  font-size: medium;
  font-weight: 600;
}

.section {
  margin-bottom: 30px;
}
