.section {
  padding-top: var(--section-top-padding);
  margin-bottom: 30px;
}
.container {
  background-color: var(--main-semi-transparent);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;

  @media (max-width: 744px) {
    border-radius: 50px;
  }
}

.heading {
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
  font-size: xx-large;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 170px;
  margin-bottom: 15px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.itemTitle {
  text-align: center;
  font-size: medium;
  font-weight: 600;
  color: var(--main-text-color);
}
