.section {
  padding-top: var(--section-top-padding);
}

.wrapper {
  background-color: var(--main-semi-transparent);
  border-radius: 150px 150px 100px 100px;
  padding-bottom: 30px;
  @media (max-width: 744px) {
    border-radius: 50px;
  }
}

.heading {
  padding-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  font-size: xx-large;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.paragraf {
  margin-top: 15px;
  text-align: center;
}

.link {
  color: var(--secondary-text-color);
  text-decoration: underline;
}

.link:hover {
  color: red;
}

.review {
  height: 365px;
}
