.section {
  padding-top: var(--section-top-padding);
}

.wrapper {
  background-color: var(--main-semi-transparent);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  padding-bottom: 30px;
}

@media (max-width: 650px) {
  .wrapper {
    border-radius: 100px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    border-radius: 65px;
  }
}

.heading {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: xx-large;
}

.paragraf {
  margin-top: 15px;
  text-align: center;
}

@media (max-width: 324px) {
  .paragraf {
    font-size: small;
  }
}

.link {
  color: var(--secondary-text-color);
  text-decoration: underline;
}

.link:hover {
  color: red;
}

.review {
  height: 365px;
}
