.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-light-color);
  display: flex;
  align-items: center;
  padding: 5px 30px;
  z-index: 99999;

  @media (max-width: 350px) {
    padding: 5px 10px;
  }

  @media (max-width: 839px) {
    justify-content: space-between;
  }
}

.nav {
  margin-left: auto;
  @media (max-width: 839px) {
    display: none;
  }
}

.list {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 5px;
  margin-right: 20px;
  font-size: larger;
  font-weight: 700;
}

.link:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 152px;
  height: 45px;
  font-weight: 700;
  font-size: medium;
  color: #f8eee7;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  @media (max-width: 839px) {
    display: none;
  }
}

.button:hover {
  font-size: large;
  text-decoration: underline;
  color: var(--main-color);
  background-color: var(--background-light-color);
  transform: scale(1.2);
}

.logo:hover {
  transform: scale(1.2);
}

.burgerButton {
  @media (min-width: 840px) {
    margin-left: auto;
    display: none;
  }
}

/* .image {
  fill: var(--background-light-color);
  stroke: var(--background-light-color);
  margin-bottom: 2px;
  margin-right: 6px;
} */

/* .button:hover .image {
  filter: invert(44%) sepia(7%) saturate(2540%) hue-rotate(256deg)
    brightness(95%) contrast(81%);
  stroke: var(--main-color);
} */
