.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 30px;
}

.nav {
  margin-left: auto;
}

.list {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 5px;
  margin-right: 20px;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.button {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 152px;
  height: 45px;
  font-weight: 600;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
}

.button:hover {
  color: var(--main-color);
  background-color: white;
}

.image {
  fill: white;
  stroke: white;
  margin-right: 8px;
}

.button:hover .image {
  filter: invert(54%) sepia(16%) saturate(968%) hue-rotate(233deg)
    brightness(95%) contrast(84%);
  fill: black;
  color: black;
  stroke: var(--main-color);
}
