.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--main-color);

  display: flex;
  align-items: center;
  padding: 5px 30px;
  z-index: 1;
}

.nav {
  margin-left: auto;
}

.list {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 5px;
  margin-right: 20px;
  font-size: larger;
  font-weight: 700;

  @media (min-width: 839px) and (max-width: 900px) {
    margin-right: 10px;
  }
}

.link:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

.button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  padding: 12px;
  min-width: 144px;
  height: 45px;

  font-weight: 700;
  font-size: medium;
  color: var(--secondary-text-color);
  background-color: var(--pink-color);
  border: none;
  border-radius: 10px;
}

@media (max-width: 839px) {
  .nav,
  .link,
  .button,
  .languages {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding: 5px 15px;
  }
}

.button:hover {
  font-size: medium;
  text-decoration: underline;
  background-color: var(--violet-color);
  transform: scale(1.1);
}

.burgerButton {
  margin: 7px;

  @media (min-width: 840px) {
    margin-left: auto;
    display: none;
  }
}

.languages {
  transform: translateX(20px);
  padding: 5px;
  border: 1px dashed var(--secondary-text-color);
  border-radius: 45%;
  background-color: inherit;
  font-size: large;
  font-weight: bold;
}

.languages:focus {
  outline-color: var(--secondary-text-color);
  cursor: pointer;
}

.option {
  color: var(--main-text-color);
}
