:root {
  /* --main-color: #94618e;
  --main-dark-color: #49274a;
  --background-light-color: #f8eee7;
  --background-color: #f4decb; */
  --main-color: rgb(201, 244, 229);
  --violet-color: rgb(229, 201, 244);
  --pink-color: rgb(244, 201, 216);
  /* --pink-semi-transparent: rgba(244, 201, 216,0.9); */
  --green-color: rgb(216, 244, 201);
}
