:root {
  --main-color: rgb(201, 244, 229);
  --main-semi-transparent: rgba(201, 244, 229, 0.5);
  --violet-color: rgb(229, 201, 244);
  --pink-color: rgb(244, 201, 216);
  --green-color: rgb(216, 244, 201);
  --main-text-color: black;
  --secondary-text-color: #104c37;
  --section-top-padding: 70px;
}
