.section {
  padding-top: var(--section-top-padding);
  margin-bottom: 30px;
}

.background {
  margin-right: auto;
  margin-left: auto;
  max-width: 75%;
  background-color: var(--background-pink-color);
  border: 4px solid var(--green-color);
  border-radius: 200px;
}

.heading {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: xx-large;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  margin-bottom: 45px;

  display: flex;
  flex-direction: column;
}

@media (max-width: 750px) {
  .background {
    max-width: 100%;
    border-radius: 100px;
    padding: 0 20px;
  }

  .wrapper {
    margin-right: 10px;
  }
}

@media (max-width: 380px) {
  .background {
    border-radius: 65px;
  }

  .wrapper {
    margin-right: 0px;
  }
}

.link {
  font-size: larger;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  color: var(--secondary-text-color);
}

.link:hover {
  transform: scale(1.5);
  font-weight: bolder;
}

.image {
  margin: 0 20px;
}

@media (max-width: 380px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.credentialsWrapper {
  text-align: center;
  padding-bottom: 10px;
}

.credentials {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.credentialsLink {
  color: inherit;
  text-decoration: underline;

  @media (max-width: 380px) {
    font-size: smaller;
  }
}

@media (max-width: 280px) {
  .credentialsLink {
    font-size: x-small;
  }
}
