.section {
  padding-top: var(--section-top-padding);
  margin-bottom: 30px;
}

.background {
  margin-right: auto;
  margin-left: auto;
  max-width: 65%;
  background-color: var(--background-pink-color);
  border: 4px solid var(--green-color);
  border-radius: 200px;
}

@media (max-width: 650px) {
  .background {
    max-width: 100%;
    border-radius: 100px;
  }
}

@media (max-width: 375px) {
  .background {
    max-width: 100%;
    border-radius: 65px;
  }
}

.heading {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: xx-large;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
}

.wrapperL {
  width: 35%;
  margin-bottom: 45px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapperR {
  width: 35%;
  margin-bottom: 45px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  font-size: larger;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: underline;
  color: var(--secondary-text-color);
}

.link:hover {
  transform: scale(1.5);
  font-weight: bolder;
}

.viber {
  margin-left: 20px;
  color: inherit;
}

.image {
  margin: 0 20px;
}

@media (max-width: 380px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .wrapperL,
  .wrapperR {
    /* width: 100%; */
    align-items: center;
  }
  .viber {
    margin-left: 0;
  }
}
